

.mod_elasticSearchForm .suggestion{
	display: block;
	margin:0;
	padding:0;
	position: absolute;
	background: white;
	border: 1px solid silver;
	border:1px solid silver;
	border-width: 0 1px 1px;
	min-width: 150px;
	display:none;
}

.mod_elasticSearchForm .highlight {
	background:yellow;
	padding:2px 5px;
}

.mod_elasticSearchForm .suggestion li {
	border-width: 1px 0 0;
	border-color: silver;
	border-style: solid;
	padding:5px 10px;

}
.mod_elasticSearchForm .suggestion li:hover,
.mod_elasticSearchForm .suggestion li.selected {
	cursor:pointer;
	background:#efefef;
}
.mod_elasticSearchForm .suggestion li:first-of-type {
	border-width: 0;
}
